label.print{
  font-style: italic;
  font-weight: bold;
}

.btn-primary:{background-color: blue; color: black !important; border: lightblue  !important; }






.bgcolor {background-color:blue !important;}

img {
  width: 200px,
  height: auto
}